<div class="jumbotron">
<h1> <i class="fa fa-circle-o-notch"></i> Stukdo Sample To Do </h1>
<p>This is my smart to do list ruby on rails application!</p>
<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> <!-- link_to is the rails way of using links instead of the html way with anchor tags. 1st param(the name of the button), 2nd param (where its going to point to), 3rd param (optional - any classes for styling) -->
</div>